In [1]:
import os
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import joblib
from sklearn.preprocessing import StandardScaler
# Windows file paths (edit your user)
DATA_CLEAN = r"C:\Users\mukhe\OneDrive\Desktop\coding\ecommerce\data\OnlineRetail_clean.csv"
FEATURES_OUT = r"C:\Users\mukhe\OneDrive\Desktop\coding\ecommerce\data\features\customer_features.csv"
# DB engine
engine = create_engine("mysql+mysqlconnector://root:name@localhost:3306/predictive_db")

In [2]:
df = pd.read_csv(DATA_CLEAN, parse_dates=['InvoiceDate'])
snapshot_date = df['InvoiceDate'].max() + pd.Timedelta(days=1)  # e.g., next day after last order
print("Snapshot date:", snapshot_date)

C:\Users\mukhe\AppData\Local\Temp\ipykernel_20804\3705756129.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(DATA_CLEAN, parse_dates=['InvoiceDate'])

Snapshot date: 2011-12-11 17:19:00

In [3]:
# group by customer
agg = df.groupby('Customer ID').agg(
    recency_days = ('InvoiceDate', lambda x: (snapshot_date - x.max()).days),
    frequency = ('Invoice', lambda x: x.nunique()),
    monetary = ('total_price', 'sum'),
    first_order = ('InvoiceDate', 'min'),
    last_order = ('InvoiceDate', 'max')
).reset_index()

agg.head()

,Customer ID,recency_days,frequency,monetary,first_order,last_order
0,12347.0,96,5,2541.25,2010-07-12 14:57:00,2011-09-06 13:01:00
1,12348.0,221,1,343.98,2011-05-04 10:47:00,2011-05-04 10:47:00
2,12350.0,312,1,311.38,2011-02-02 16:01:00,2011-02-02 16:01:00
3,12352.0,275,5,370.04,2011-01-03 14:57:00,2011-03-11 14:37:00
4,12355.0,97,1,459.40,2011-09-05 13:49:00,2011-09-05 13:49:00

In [4]:
# quantile-based scoring (1-4 or 1-5). Higher R score = more recent -> invert recency
agg['r_score'] = pd.qcut(agg['recency_days'], 4, labels=[4,3,2,1]).astype(int)    # 4 = very recent
agg['f_score'] = pd.qcut(agg['frequency'].rank(method='first'), 4, labels=[1,2,3,4]).astype(int)  # 4 = frequent
agg['m_score'] = pd.qcut(agg['monetary'].rank(method='first'), 4, labels=[1,2,3,4]).astype(int)    # 4 = big spender

agg['rfm_score'] = agg['r_score'].astype(str) + agg['f_score'].astype(str) + agg['m_score'].astype(str)
agg['rfm_sum'] = agg[['r_score','f_score','m_score']].sum(axis=1)

In [5]:
# average order value (AOV)
cust_orders = df.groupby(['Customer ID','Invoice']).agg(order_value=('total_price','sum')).reset_index()
aov = cust_orders.groupby('Customer ID')['order_value'].mean().rename('aov')

# days between orders (avg)
order_dates = df.groupby(['Customer ID','Invoice']).agg(order_date=('InvoiceDate','min')).reset_index()
order_dates = order_dates.sort_values(['Customer ID','order_date'])
order_dates['prev_order_date'] = order_dates.groupby('Customer ID')['order_date'].shift(1)
order_dates['days_since_prev'] = (order_dates['order_date'] - order_dates['prev_order_date']).dt.days
avg_days_between = order_dates.groupby('Customer ID')['days_since_prev'].mean().rename('avg_days_between')

# tenure (days since first order to snapshot)
tenure = (snapshot_date - agg['first_order']).dt.days.rename('tenure_days')

# join into agg
agg = agg.set_index('Customer ID').join([aov, avg_days_between]).reset_index()
agg['tenure_days'] = tenure.values

In [6]:
# Option A: Simple historic CLV = total monetary
agg['clv_hist'] = agg['monetary']

# Option B: Simple predictive CLV = AOV * purchase_frequency_per_period * expected_lifespan
# compute purchases per month
period_days = (df['InvoiceDate'].max() - df['InvoiceDate'].min()).days
purchases_per_month = agg['frequency'] / (period_days/30.0)
expected_lifespan_months = 12  # assumption â€” document this
agg['clv_simple_predict'] = (agg['aov'] * purchases_per_month * expected_lifespan_months).fillna(0)

In [7]:
def label_rfm(row):
    if row['rfm_sum'] >= 10:
        return 'Champions'
    if row['r_score']>=3 and row['f_score']>=3:
        return 'Loyal'
    if row['r_score']<=1 and row['f_score']<=1:
        return 'AtRisk'
    if row['m_score']>=3:
        return 'BigSpenders'
    return 'Others'

agg['segment'] = agg.apply(label_rfm, axis=1)

In [8]:
# last N days spend
def spend_in_window(df, days):
    cutoff = snapshot_date - pd.Timedelta(days=days)
    tmp = df[df['InvoiceDate'] >= cutoff].groupby('Customer ID')['total_price'].sum().rename(f'spend_{days}d')
    return tmp

for d in [30, 90, 365]:
    agg = agg.set_index('Customer ID').join(spend_in_window(df, d)).reset_index()

In [9]:
# choose features
feature_cols = ['recency_days','frequency','monetary','aov','avg_days_between','tenure_days','clv_simple_predict','spend_30d','spend_90d','spend_365d']
X = agg[feature_cols].fillna(0)

# scaler
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

# save scaler for the pipeline
os.makedirs(r"C:\Users\mukhe\OneDrive\Desktop\coding\ecommerce\models", exist_ok=True)
joblib.dump(scaler, r"C:\Users\mukhe\OneDrive\Desktop\coding\ecommerce\models\scaler_rfm.joblib")

['C:\\Users\\mukhe\\OneDrive\\Desktop\\coding\\ecommerce\\models\\scaler_rfm.joblib']

In [10]:
# example: top countries as dummies, rest -> 'Other'
top_countries = df['Country'].value_counts().nlargest(10).index.tolist()
cust_country = df.groupby('Customer ID')['Country'].agg(lambda x: x.mode()[0] if len(x)>0 else 'Unknown').rename('Country')
cust_country = cust_country.apply(lambda x: x if x in top_countries else 'Other')
country_dummies = pd.get_dummies(cust_country, prefix='Country')
agg = agg.set_index('Customer ID').join(country_dummies).reset_index()

In [11]:
# quick correlation matrix
corr = agg[feature_cols].corr().abs()
# find highly correlated pairs
high_corr = [(c1,c2,corr.loc[c1,c2]) for c1 in corr.columns for c2 in corr.columns if c1!=c2 and corr.loc[c1,c2]>0.9]
high_corr[:10]

[('monetary', 'clv_simple_predict', 1.0000000000000038),
 ('monetary', 'spend_365d', 0.9909238361524156),
 ('clv_simple_predict', 'monetary', 1.0000000000000038),
 ('clv_simple_predict', 'spend_365d', 0.9909238361524111),
 ('spend_365d', 'monetary', 0.9909238361524156),
 ('spend_365d', 'clv_simple_predict', 0.9909238361524111)]

In [12]:
df.columns

Index(['Invoice', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'Price', 'Customer ID', 'Country', 'total_price'],
      dtype='object')

In [13]:
# finalize feature dataframe
final_cols = ['Customer ID'] + feature_cols + ['r_score','f_score','m_score','rfm_sum','rfm_score','segment']
customer_features = agg[final_cols].copy()
os.makedirs(os.path.dirname(FEATURES_OUT), exist_ok=True)
customer_features.to_csv(FEATURES_OUT, index=False)

# write to MySQL
customer_features.to_sql('customer_features', con=engine, if_exists='replace', index=False, chunksize=1000)

3125

In [14]:
meta = {
    'snapshot_date': str(snapshot_date),
    'feature_columns': final_cols,
    'scaler_path': r"C:\Users\<You>\Projects\ecom-predictive\models\scaler_rfm.joblib",
    'notes': 'RFM quantiles set to 4. CLV uses 12-month lifespan assumption.'
}
joblib.dump(meta, r"C:\Users\mukhe\OneDrive\Desktop\coding\ecommerce\models\feature_metadata.joblib")

['C:\\Users\\mukhe\\OneDrive\\Desktop\\coding\\ecommerce\\models\\feature_metadata.joblib']

In [15]:
customer_features.describe(percentiles=[0.01,0.05,0.5,0.95,0.99]).T
# check top segments
customer_features['segment'].value_counts(normalize=True).head()
# spot-check top customers
customer_features.sort_values('monetary', ascending=False).head(10)

,Customer ID,recency_days,frequency,monetary,aov,avg_days_between,tenure_days,clv_simple_predict,spend_30d,spend_90d,spend_365d,r_score,f_score,m_score,rfm_sum,rfm_score,segment
3028,18102.0,90,29,134094.06,4623.933103,14.964286,517,69259.485796,NaN,NaN,108118.43,3,4,4,11,344,Champions
1255,14646.0,3,29,87692.81,3023.890000,11.785714,339,45293.273458,17325.66,47146.82,87692.81,4,4,4,12,444,Champions
1391,14911.0,1,92,49497.46,538.015870,7.274725,698,25565.402582,3222.00,11721.67,44040.61,4,4,4,12,444,Champions
2723,17511.0,7,23,46643.76,2027.989565,30.954545,698,24091.468580,1444.66,1444.66,43194.68,4,4,4,12,444,Champions
39,12415.0,71,13,43941.93,3380.148462,21.916667,341,22695.975323,NaN,81.60,43941.93,3,4,4,11,344,Champions
2292,16684.0,95,8,37010.48,4626.310000,26.571429,284,19115.886370,NaN,NaN,37010.48,3,4,4,11,344,Champions
971,14156.0,1,30,36403.34,1213.444667,22.620690,667,18802.298996,386.83,10063.68,35901.44,4,4,4,12,444,Champions
2694,17450.0,4,13,35773.28,2751.790769,42.333333,517,18476.873458,1752.06,20338.30,33744.44,4,4,4,12,444,Champions
329,12931.0,30,8,34133.56,4266.695000,35.000000,276,17629.959254,NaN,9148.12,34133.56,4,4,4,12,444,Champions
1465,15061.0,6,32,31889.80,996.556250,21.032258,667,16471.058824,2575.02,3922.33,14476.22,4,4,4,12,444,Champions